
nav{
    opacity:90%;
}

a,li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    
    width: fit-content;
    text-align: center;
}
li>a:hover{
    border-bottom: 2px  white solid;
    color:white !important;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
li>.nav-link:focus{
    border-top: 5px  white solid;
    border-radius: 7rem;
    color: white !important;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}

.navbar-brand{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8rem;
    border: 1px  #f9ab00 dashed;
    background-color: #f9ab00;
}
