.cv-container{    
  
    margin: 4rem auto auto;
}
.main{
    
    display: flex;
    justify-content: center;
}
.profile{
    min-width: 15rem;
}
.profile-image{
    border-radius: 75px;
    margin:1rem;
}
.align-items-left{
    align-items: left;
}
h2,h5{
    text-align: left;
    font-weight: bolder;
}
h2{
    margin: 1rem;
}

.work,.training,.project{
    border: 1px darkgreen solid;
    border-radius: 2rem; 
    margin: 2rem;      
    padding: 3rem auto auto;
    transition: all 3s;
      
    
}
h5{
    color: darkgreen;
    margin-top: 3rem;
}
.work:hover,.training:hover,.project:hover{
    transform: scale(1.1);
    background-color: darkgreen;
    color: white !important;
    

}

li{
    text-align: left;
}
h5{
    color: darkgreen;
    margin-top: 3rem;
}
